{% extends "base.html.twig" %}

{% block title %}Nous Contacter
{% endblock %}

{% block body %}
	<div class="container ">
		<div class="">
			<div class="border border-light hover-transparent mt-5 p-5">
					<h1 class="text-center my-4 text-uppercase" style="color:#B8860B">Contactez-nous !</h1>

				<div class="mb-3">
					<label for="message" class="form-label">Message :</label>
					<textarea id="message" name="message" class="form-control" rows="5" style="resize: none;" required></textarea>
				</div>
				<div class="text-center mt-3">
					<a href="mailto:contact@votre-etablissement.com?subject=Contact depuis le site de l'hôtel&body=Bonjour," class="btn-css mb-4 mt-4">Envoyer un e-mail</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
