{% extends "base.html.twig" %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-center my-4 text-uppercase border-bottom py-2" style="color:#B8860B">Mentions Légales</h1>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2 class=" my-4 py-2" style="color:#B8860B">Informations générales</h2>
				<p>HotelHouse est un hôtel situé au cœur de Paris, offrant des services d'hébergement haut de gamme. Nous nous efforçons de rendre votre séjour inoubliable en vous proposant des chambres confortables, un personnel accueillant et des équipements modernes.</p>
				<p>Pour toute demande ou information supplémentaire, veuillez nous contacter aux coordonnées indiquées ci-dessous.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2 class=" my-4 py-2" style="color:#B8860B">Responsable de publication</h2>
				<p>Nom de l'hôtel : HotelHouse</p>
				<p>Adresse : 123 Rue des Hôtes, 75000 Paris, France</p>
				<p>Téléphone : +XX XXX XXX XXX</p>
				<p>Email : info@hotelhouse.com</p>
				<p>Numéro d'identification de l'entreprise : XXXXXXXX</p>
				<p>Numéro de TVA : FRXXXXXXXXXXX</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2 class=" my-4 py-2" style="color:#B8860B">Hébergement</h2>
				<p>Nom de l'hébergeur : Mon Hébergeur</p>
				<p>Adresse de l'hébergeur : 456 Rue de l'Hébergement, 75000 Ville</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2 class=" my-4 py-2" style="color:#B8860B">Protection des données personnelles</h2>
				<p>HotelHouse attache une grande importance à la protection de vos données personnelles. Nous recueillons uniquement les informations nécessaires pour assurer votre réservation et améliorer nos services. Vos données ne seront jamais partagées avec des tiers sans votre consentement préalable.</p>
				<p>Pour en savoir plus sur notre politique de confidentialité et sur la manière dont nous traitons vos données, veuillez consulter notre page dédiée à la confidentialité sur notre site web.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2 class=" my-4 py-2" style="color:#B8860B">Droits d'auteur</h2>
				<p>Tous droits réservés &copy; HotelHouse</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2 class=" my-4 py-2" style="color:#B8860B">Condition générales de vente</h2>
				<p>Consultez nos
					<a href="{{ path('cgdv')}}">conditions générales de vente</a>
					pour plus d'informations sur les termes et conditions régissant nos services.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2 class=" my-4 py-2" style="color:#B8860B">Politique de cookies</h2>
				<p>Notre site web utilise des cookies pour améliorer votre expérience utilisateur. Consultez notre
					<a href="politique-cookies.html">politique de cookies</a>
					pour en savoir plus sur les cookies utilisés, leur finalité et comment les gérer.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2 class=" my-4 py-2" style="color:#B8860B">Clause de non-responsabilité</h2>
				<p>Toutes les informations fournies sur notre site web sont fournies à titre informatif uniquement. Nous nous efforçons de maintenir ces informations à jour et exactes, mais nous déclinons toute responsabilité quant à leur exactitude, leur exhaustivité ou leur adéquation à un usage particulier.</p>
			</div>
		</div>
	</div>
{% endblock %}
